<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <receiver
            android:name=".receiver.StartServiceReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.StepService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>